.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &-true {
    display: block;
  }
  &-btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-block;

    img {
      width: 70px;
      height: 70px;
    }
  }
}

.filter-blue {
  filter: invert(52%) sepia(41%) saturate(1570%) hue-rotate(175deg) brightness(92%) contrast(84%);
}
