.question {
  height: 45vh;
  background-color: white;
  color: black;
  padding-left: 2rem;
  padding-right: 1rem;
  &-show {
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 400;
  }

  &-image {
    height: 25vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-input {
    display: inline-block;

    border: 2px solid #ccc;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
  }
}
.true-input {
  border-color: $lightblue;
}
.false-input {
  border-color: $redcolor;
}
