@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
.name {
  width: 100%;
  max-width: 37.5rem;
  height: 100vh;
  margin: 0 auto;
  background-color: #d1d8e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name-input {
  margin-top: 10vh;
  height: 10vh;
  font-size: 3rem;
  width: 80%;
  outline: none;
  border: none;
}
.name-submit {
  margin-top: 2rem;
  background-color: #1cb0f6;
  display: inline-block;
  color: white;
  font-size: 3rem;
  padding: 1rem 10rem;
  border-radius: 1rem;
  box-shadow: 0px 0.5rem 0px 0px #1899d6;
}
.name-check {
  margin-top: 10vh;
  color: white;
  font-size: 3rem;
  background-color: #eb3b5a;
  width: 100%;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-input {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #95a5a6;
}

.check-end {
  display: none !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: black;
}

.app {
  width: 100%;
  max-width: 37.5rem;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer {
  position: relative;
  width: 95%;
  border: 5px solid black;
  border-right: 0;
  background-color: #e0e0e0;
  margin: 0 auto;
}

.section {
  border-right: none;
  width: 100%;
  height: 230px;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
}
.section__item {
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 20px;
  scroll-snap-align: center;
}
.section__item:last-child {
  margin-bottom: 20px;
}
.section__choose {
  position: absolute;
  width: calc(100% - 5px);
  height: 50px;
  background-color: #3498db67;
  top: 20px;
}

.hiddenColor {
  background-color: transparent;
}

.question {
  height: 15rem;
}
.question-show {
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.check {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5rem;
  background-color: #3498db;
  color: white;
  font-size: 2.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 5px 0 0 #1c75b1;
}
.check-next-true {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2f6ff;
  position: relative;
}
.check-next-true-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 6rem;
  background-color: #3498db;
  color: white;
  font-size: 2.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 5px 0 0 #1c75b1;
}
.check-next-true-showResult {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #3498db;
}
.check-next-true-showResult img {
  width: 3rem;
  margin-right: 1rem;
}
.check-next-false {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff2f1;
  position: relative;
}
.check-next-false-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 6rem;
  background-color: #ff5467;
  color: white;
  font-size: 2.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 5px 0 0 #cc283b;
}
.check-next-false-showResult {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #ff5467;
}
.check-next-false-showResult img {
  width: 3rem;
  margin-right: 1rem;
}

.trueNext {
  display: none;
}

.filter-blue {
  filter: invert(59%) sepia(18%) saturate(3662%) hue-rotate(177deg) brightness(88%) contrast(94%);
}

.filter-red {
  filter: invert(44%) sepia(59%) saturate(709%) hue-rotate(305deg) brightness(99%) contrast(105%);
}

.endgame {
  width: 100%;
  height: 100vh;
  background-color: #130f40;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.endgame-nameUser {
  color: #3498db;
  font-size: 4rem;
}
.endgame-score {
  color: #e74c3c;
  font-size: 4rem;
}
.endgame-view {
  margin-top: 2rem;
  color: #fa8231;
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
