@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #95a5a6;
}
.check-end {
  display: none !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #ccc;
}
::-webkit-scrollbar-thumb {
  background: black;
}
.activeNone {
  display: none !important;
}
.hideActive {
  background-color: #dfe4ea !important;
  color: #c5c5c5 !important;
  box-shadow: none !important;
  pointer-events: none !important;
}
.check-end {
  display: none;
}
