.question {
  width: 100%;
  height: 50vh;

  &-show {
    padding: 2rem;

    font-size: 2.5rem;

    span {
      font-size: 2.5rem;
      display: inline-block !important;
      min-width: 8rem;
      padding-left: 1rem;
      padding-right: 1rem;
      max-width: 100%;
      text-decoration: none !important;
    }
  }
}
.inputAnswer {
  border: 2px solid #ccc;
  outline: none;
  text-decoration: none;
  br {
    display: none;
  }
}
.inputAnswer:hover {
  border-color: #8e44ad;
}
